*{
    margin:0;
    padding:0;
    list-style:none;
    font-family: PingFangSC-Medium, PingFang SC;
    font-style:normal;
    font-size:14px;
    letter-spacing:1px;
}
.wrap{
    width:100%;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.wrap ul{
    position:absolute;
} 
.wrap ul li{
    height:100%;
}
.wrap ol{
    position:absolute;
    bottom:10px;
    right:10px;
}
.wrap ol li{
    height:20px; 
    width: 20px;
    background:rgba(204,204,204,0.8);
    border-radius: 100%;
    margin-left:5px;
    color:#000;
    float:left;
    line-height:center;
    text-align:center;
    cursor:pointer;
}
.wrap ol .on{
    background:#E97305;
    color:#fff;
}
.pic img{
    width:100%;
}
.title{
    height: 50px;
    width: 100%;
}
.title .right{
    width: 50%;
    float: left;
    height:100%;
    text-align: left;
    line-height: 50px;
}
.logo{
    position: relative;
    top:10px;
}
.left{
    padding-left:5%;
    width: 45%;
    float: left;
    height:100%;
    text-align: left;
    line-height: 50px;
}
.left span{
    padding-left:10px;
}
.right li{
    float: left;
    width: 25%;
    cursor: pointer;
    text-align: center;
}
.right li a{
    cursor: pointer;
    color:#4A4A4A;
}
.right li:hover a{
    color: #458CFF;
}
.right li:hover{
    background-color:#dedede;
}
.content{
    padding-top:20px;
    width: 100%;
}
.contentA{
    width: 90%;
    margin: 0 auto;
}
.contentA img{
    position: relative;
    top:-3px;
}
.contentA span{
    padding-left: 10px;
    line-height: 50px;
    font-size: 28px;
}
.part{
    float: left;
    width: calc(100% / 5);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px rgba(197, 197, 197, 0.5);
    margin-right: calc(100% / 15);
    margin-top: 20px;
}
.part:nth-child(4){
    margin-right: 0;
}
.part:nth-child(8){
    margin-right: 0;
}
.part p,img{
    text-align: center;
}
.clear{
  height: 30px;  
}
.contentB{
    width: 90%;
    margin: 0 auto;
}
.contentB img{
    position: relative;
    top:-3px;
}
.contentB span{
    padding-left: 10px;
}
.list{
    height: 360px;
}
.list ul li{
    float: left;
    width: calc(50% - 40px);
    margin-right: 40px;
    display: block;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px rgba(197, 197, 197, 0.5);
    margin-top:20px;
    padding:20px 10px;
    cursor: pointer;
}
.list ul li:nth-child(2){
    margin-right: 0;
}
.list ul li:nth-child(4){
    margin-right: 0;
}
.left_B{
    float: left;
    width:90px;
    height: 100%;
}
.right_B{
    float: right;
    width: calc(100% - 100px);
    height: 100%;
}
.date_M{
    display: inline-block;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
}
.date_D{
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}
.link{
    color: #458CFF;
    font-size: 20px;
    float: right;
    line-height: 50px;
    cursor: pointer;
}
.first{
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.second{
    display: inline-block;
    line-height: 30px;
    color: #C5C5C5;
    cursor: pointer;
}
.contentC{
    height: 400px;
}
.footer{
    height: 100px;
    background: #4373B2;
    padding: 0 10%;
}
.intro{
    height: 100%;
    width: calc(100% / 4);
    padding-right: calc(100% / 8);
    float: left;
}
.intro:nth-child(3){
    padding-right:0;
}
.intro p{
    color: #FFFFFF;
    line-height: 25px;
}
.intro_title{
    padding-top:20px;
    font-size: 16px;
}
.intro_text{
    padding-top: 10px;
    font-size: 12px;
}
.intro_text a{
    cursor: pointer;
}